<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.assist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PlacesSelection"></activity>
        <activity android:name=".ProfileImageCrop" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpWithEmail" />
        <activity android:name=".ConnectWithEmail" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".DriversDashboard" />
        <activity android:name=".RealEsateAgentAddListing" />
        <activity android:name=".EstateDashboardListingDetails" />
        <activity android:name=".EstateListingDashboard" />
        <activity android:name=".ServiceProviderDashboard" />
        <activity android:name=".DashboardAddProduct" />
        <activity android:name=".DashboardViewOrder" />
        <activity android:name=".DashboardProductDetails" />
        <activity android:name=".EcommerceDashboard" />
        <activity android:name=".ProductTransaction" />
        <activity android:name=".BillPayment" />
        <activity android:name=".Bills" />
        <activity android:name=".RequestWithdrawal" />
        <activity android:name=".TopUp" />
        <activity android:name=".PrintMandatePage" />
        <activity android:name=".CabHailingActivity" />
        <activity android:name=".FlightBooking" />
        <activity android:name=".Settings" />
        <activity android:name=".EmployeeVerifications" />
        <activity android:name=".ServiceProviderVerifications" />
        <activity android:name=".KopasAidVerifications" />
        <activity android:name=".VerificationDashBoard" />
        <activity android:name=".QuickCreditApplication" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SendMoney" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ServiceProviderDetails" />
        <activity android:name=".ChildrenServicesDetails" />
        <activity android:name=".HomeServicesDetails" />
        <activity android:name=".ServicesLanding" />
        <activity android:name=".AccomodationBooking" />
        <activity android:name=".AccomodationListings" />
        <activity android:name=".Accomodation"></activity>
        <activity android:name=".GroceryCart" />
        <activity android:name=".GroceryStoreListing" />
        <activity android:name=".Grocery" />
        <activity android:name=".GroceryLanding" />
        <activity android:name=".ViewTicket" />
        <activity android:name=".BusCheckOut" />
        <activity android:name=".BusTransport" />
        <activity android:name=".BuildLocation" />
        <activity android:name=".Transportation" />
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme.Light" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhWEtH-spkmhAaeLLTN-8Oaest6Gq4y50" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>