<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.assist">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".VerificationEmail"
            android:exported="false" />
        <activity
            android:name=".BusinessProviderVerification"
            android:exported="false" />
        <activity
            android:name=".AccomodationPaymentDetails"
            android:exported="false" />
        <activity
            android:name=".AccomodationRefundsDetails"
            android:exported="false" />
        <activity
            android:name=".AgentAccomodationDetails"
            android:exported="false" />
        <activity
            android:name=".UserAccomodationDetails"
            android:exported="false" />
        <activity
            android:name=".UserAccomodationBooking"
            android:exported="false" />
        <activity
            android:name=".AccomodationApprovalDetails"
            android:exported="false" />
        <activity
            android:name=".AccomodationAdmin"
            android:exported="false" />
        <activity
            android:name=".LoanHistory"
            android:exported="false" />
        <activity
            android:name=".GeneralService"
            android:exported="false" />
        <activity
            android:name=".GeneralServicesDetails"
            android:exported="false" />
        <activity
            android:name=".ViewOrder"
            android:exported="false" />
        <activity
            android:name=".ServiceBookingActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".RepairServicesDetails"
            android:exported="false" />
        <activity
            android:name=".AutoServicesDetails"
            android:exported="false" />
        <activity
            android:name=".EducationalServicesDetails"
            android:exported="false" />
        <activity
            android:name=".PersonalServicesDetails"
            android:exported="false" />
        <activity
            android:name=".CategorySearch"
            android:exported="false" />
        <activity
            android:name=".EditProduct"
            android:exported="false" />
        <activity
            android:name=".RefundHistory"
            android:exported="false" />
        <activity
            android:name=".WithdrawalHistory"
            android:exported="false" />
        <activity
            android:name=".GrocerySearch"
            android:exported="false" />
        <activity android:name=".PayServiceFee" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ConnectWithEmail" />
        <activity android:name=".ChatFullImage" />
        <activity android:name=".PlacesSelection" />
        <activity android:name=".ProfileImageCrop" />
        <activity android:name=".ResetPassword"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"
                    android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://fast-atoll-68106.herokuapp.com/public/api/reset” -->
                <data
                    android:host="www.assist.ng"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpWithEmail" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".DriversDashboard" />
        <activity android:name=".RealEsateAgentAddListing" />
        <activity android:name=".EstateDashboardListingDetails" />
        <activity android:name=".EstateListingDashboard" />
        <activity android:name=".ServiceProviderDashboard" />
        <activity android:name=".DashboardAddProduct" />
        <activity android:name=".DashboardViewOrder" />
        <activity android:name=".DashboardProductDetails" />
        <activity android:name=".EcommerceDashboard" />
        <activity android:name=".ProductTransaction" />
        <activity android:name=".BillPayment" />
        <activity android:name=".Bills" />
        <activity android:name=".RequestWithdrawal" />
        <activity android:name=".TopUp" />
        <activity android:name=".PrintMandatePage" />
        <activity android:name=".CabHailingActivity" />
        <activity android:name=".FlightBooking" />
        <activity android:name=".Settings" />
        <activity android:name=".EmployeeVerifications" />
        <activity android:name=".ServiceProviderVerifications" />
        <activity android:name=".KopasAidVerifications" />
        <activity android:name=".VerificationDashBoard" />
        <activity android:name=".QuickCreditApplication" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SendMoney" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".ServiceProviderDetails" />
        <activity android:name=".ChildrenServicesDetails" />
        <activity android:name=".HomeServicesDetails" />
        <activity android:name=".ServicesLanding" />
        <activity android:name=".AccomodationBooking" />
        <activity android:name=".AccomodationListings" />
        <activity android:name=".Accomodation" />
        <activity android:name=".GroceryCart" />
        <activity android:name=".GroceryStoreListing" />
        <activity android:name=".Grocery" />
        <activity android:name=".GroceryLanding" />
        <activity android:name=".ViewTicket" />
        <activity android:name=".BusCheckOut" />
        <activity android:name=".BusTransport" />
        <activity android:name=".BuildLocation" />
        <activity android:name=".Transportation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhWEtH-spkmhAaeLLTN-8Oaest6Gq4y50" />
        <meta-data
            android:name="co.paystack.android.PublicKey"
            android:value="pk_test_bf395e89a315198929ddca163fafecf64899d524" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>